.box{
    background-color: aquamarine;
    width: 200px;
    height: 200px;
    padding: 20px;
    position: sticky;
    top: 100px;
    left: 20px;
    z-index: -1;

    /* position: relative;
    position: absolute;
    position: fixed;
    position: sticky; */
}